port                 "PORT"
music_directory      "PWD/music"
playlist_directory   "PWD/playlists"
log_file             "/dev/null"
error_file           "/dev/null"
db_file              "PWD/music.db"
state_file           "PWD/state"
pid_file             "PWD/pid"
bind_to_address      "localhost"
password             "fulladmin@read,add,control,admin"
password             "foobar@read"
default_permissions  "read,add,control,admin"
connection_timeout   "10"
audio_output {
    name "null"
    type "null"
}

